*.ex4
*.db
*.dat
.idea/vcs.xml
.idea/MTCodeBase.iml
.idea/modules.xml
.idea/misc.xml
config/
history/
logs/
MQL4/Include/Arrays/
MQL4/Include/Canvas/
MQL4/Include/ChartObjects/
MQL4/Include/Charts/
MQL4/Include/Controls/
MQL4/Include/Files/
MQL4/Include/Indicators/
MQL4/Include/Strings/
MQL4/Include/Tools/
profiles/
templates/
MQL4/Indicators/Examples/
MQL4/Scripts/
MQL4/.vscode/
tester/*
!tester/dema_waddah-test_case.set
!tester/dewa_0_best_backtest.set
backtest-reports/
origin.txt